img{
    height: 150px;
    width: 100px;
}
body{
    background-color:#750045;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    background-color:rgba(0, 0, 0, 0.607);
    color:white;
    border: 5px solid black;
    border-radius: 15px;
    width:90%;
    margin: auto;
    font-size: 20px;
    text-align: center;
}
#linha1{
    background-color:rgba(0, 0, 0, 0.653);
    color:white;
    font-size: 30px;
}
#linha1 th{
    border: 5px solid black;
}
td{
    border: 1px dashed white;
}
.dadosimpares{
    background-color:gray ;
}
h2{
    font-size:60px;
    color:black;
} 